{% extends "base.html" %}
{% block title %}AS207414.net{% endblock %}
{% block content %}

    <h1 class="mt-5">AS207414</h1>

    <p>The main purpose for this network is learning and research. I hope to maintain an open peering
        policy with anyone interested. Be patient with me, and I promise I will be patient with you. </p>

    <h4> Peering Policy: </h4>
    <p> Open Peering Policy. We can connect via any IXP sites I'm located at and eventually over a
        tunnel (GRE/SIT). </p>
    <p> Please email <a href="mailto:noc@juanah.cloud"> noc@juanah.cloud </a> if you
        agree to the terms below and wish to peer:</p>
    <p> - Peers may only send traffic to destinations announced by AS207414. </p>
    <p> - Peers may only send traffic originating from their own networks. </p>
    <p> - Peers are not allowed to point static routes towards AS207414. </p>

{% endblock %}